header {
    background-color: #CCCCCC;
    height: 200px;    
}

#imagem_logo {
    height: 200px;
}

.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
    
}

nav {
    position: absolute;
    top: 100px;
    right: 0px;
}

nav a {    
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    color: #000000;
    margin: 0 0 0 15px;
    
}

nav a:hover {
    text-decoration: underline;
    color: #C78C19;
}

nav li {
    display: inline;
    
}

main {
    width: 940px;
    margin: 0 auto;
}

form {
    margin: 40px 0;
}

form label {
    font-size: 20px;
    margin: 0 0 10px;
}

form input {
    margin: 0 0 20px;
    padding: 10px 20px 10px 4px;
}

footer {
    background: url("bg.jpg");
    text-align: center;
    padding: 20px;
    color: white;
}

.caixa-texto {
    width: 50%;
}

legend {
    font-weight: bold;
    font-size: 20px;
}

p {
    font-size: 20px;
    font-weight: bold;
}

select {
    margin: 10px 0 10px 0;
}

.contato {
    font-size: 17px;
}

.novidades {
    font-size: 15px;
}

.botao-enviar {
    padding: 15px 0px;
    width: 40%;
    background-color: orange;
    border: none;
    border-radius: 5px;    
    font-weight: bold;
    transition: 1s background;
    cursor: pointer;
}

.botao-enviar:hover {
    background-color: darkorange;
}

table { 
    margin: 20px 0 40px;
}


th { 
    background-color: #555555;
    color: white;
}

td, th {
    border: 1px solid black;
    padding: 5px;
    font-size: 20px;
    
}